<header class="header">
  <div class="container">
    <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="132" height="24" stroke="black">
          <use href="../images/icons.svg#your-energy"></use>
        </svg>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="../favorite.html">Favorite</a>
        </li>
      </ul>
    </nav>

    <ul>
      <li class="li">
        <a class="icon-media" href="" aria-label="facebook">
          <svg class="" width="30" height="30">
            <use href="../images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="li">
        <a class="icon-media" href="" aria-label="instagram">
          <svg class="" width="30" height="30">
            <use href="../images/icons.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li class="li">
        <a class="icon-media" href="" aria-label="youtube">
          <svg class="" width="30" height="30">
            <use href="../images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- BUTTON MOBILE MENU -->
    <button class="mobile-menu-open-button js-open-menu" type="button">
      <svg
        class="mobile-menu-open-icon"
        width="32"
        height="16"
        aria-label="mobile menu open icon"
      >
        <use href="../images/icons.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
