<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="132" height="24" stroke="black">
          <use href="../img/icons.svg#your-energy"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="../favorite.html">Favorite</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
