<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu-wrapper">
    
    <div class="mobile-menu-top">
      <button type="button" class="menu-close-btn js-close-menu">
        <svg class="mobile-close-icon"
            aria-label="mobile menu close icon"
            width="32"
            height="32">
            <use href="./images/icons.svg#cross"></use>
        </svg>  
      </button>
    </div>
    
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li>
          <a
            class="mobile-menu-nav-list-item active-menu-nav-list-item"
            href="./index.html"
            id="Home-menu"
            >Home</a
          >
        </li>
        <li>
          <a
            class="mobile-menu-nav-list-item"
            href="./favorites.html"
            id="Favorites-menu"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    
    <div class="mobile-menu-bottom">
      <ul class="mobile-footer footer-list">
      <li class="li">
        <a class="footer-icon-media" href="https://www.facebook.com/goITclub/" aria-label="facebook" target="_blank">
          <svg class="" width="30" height="30">
            <use href="/images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="li">
        <a class="footer-icon-media" href="https://www.instagram.com/goitclub/" aria-label="instagram" target="_blank">
          <svg class="" width="30" height="30">
            <use href="/images/icons.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li class="li">
        <a class="footer-icon-media" href="https://www.youtube.com/c/GoIT" aria-label="youtube" target="_blank">
          <svg class="" width="30" height="30">
            <use href="/images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    </div>

  </div>
</div>