.main-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.fav-section {
  padding: 20px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fav-quote-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.fav-quote-box {
  display: flex;
  border-radius: 30px;
  background-color: #242424;
  padding: 20px;
  gap: 18px;
}

.fav-min-icon {
  fill: #242424;
}

.fav-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #242424;

  display: flex;
  gap: 4px;
  flex-shrink: 1;
  min-width: 0;
}

.favorites-empty-message {
  padding: 20px;
}

.fav-min-box {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
}

.daily-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fav-min-header {
  margin-bottom: 6px;
}

.fav-card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 15px;
  min-width: 200px;
  max-width: 335px;
}

.fav-header {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.fav-top {
  display: flex;
}

.fav-badge {
  border: 1px solid #242424;
  border-radius: 15px;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 12px;
  color: #242424;
  margin-right: 17px;
}

.fav-icon-trash {
  stroke: #242424;
  fill: none;
}

.fav-trash-btn,
.fav-start-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.fav-title-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.fav-info {
  display: flex;
  gap: 8px;
  width: 100%;
  overflow: hidden;
}

.fav-quote-img {
  min-width: 335px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .daily-container {
    display: flex;
    flex-direction: row;
  }

  .fav-quote-container {
    align-items: center;
  }

  .fav-quote-box {
    padding: 40px;
    max-width: 675px;
  }

  .fav-min-box {
    width: 344px;
  }

  .fav-quote-img {
    max-width: 344px;
  }

  .favorites-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px; 
  }

  .fav-card {
    width: calc(50% - 8px); 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  .fav-container {
    display: flex;
    gap: 32px;
  }

  .fav-card {
    max-width: 344px;
  }

  .fav-info {
    width: 100%;
  }

  .fav-quote-box {
   max-width: 494px;
  }

  .fav-min-box {
    max-width: 240px;
  }

  .fav-quote-img {
    max-width: 239px;
    height: 140px;
  }

  .favorites-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fav-text {
    font-weight: 400;
    line-height: 133%;
    text-align: center;
    width: 554px;
  }

}
