.main-title {
  font-weight: 400;
  font-size: 28px;

  line-height: 38px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.fav-quote-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.fav-quote-box {
  display: flex;
  border-radius: 30px;
  background-color: #242424;
  padding: 20px;
  gap: 18px;
}


.fav-min-icon {
  fill: #242424;
}

.fav-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #242424;
}

.favorites-empty-message {
  padding: 20px;
}

.fav-min-box {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
}

.daily-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fav-min-header {
  margin-bottom: 6px;
}

.fav-card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 15px;
  width: 335px;
}

.fav-header {
  display: flex;
  margin-bottom: 25px;
}

.fav-badge {
  border: 1px solid #242424;
  border-radius: 15px;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 12px;
  color: #242424;
  margin-right: 17px;
}

.fav-icon-trash {
  stroke: #242424;
  fill: none;
}

.fav-trash-btn,
.fav-start-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.fav-title-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.fav-info {
  display: flex;
  gap: 10px;

  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .daily-container {
    display: flex;
    flex-direction: row;
  }

  .fav-quote-box {
    padding: 40px;
  }

  .fav-quote-content {
    width: 100%;
  }

  .fav-min-line {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .fav-container {
    display: flex;
  }
}

