.fav-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #242424;
}

.favorites-empty-message {
    padding: 20px;
}


.fav-card {
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 15px;
  width: 335px;
}

.fav-header {
  display: flex;
  margin-bottom: 25px;
}

.fav-badge {
    border: 1px solid #242424;
  border-radius: 15px;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 12px;
  color: #242424;
  margin-right: 17px;
}

.fav-icon-trash {
  stroke: #242424;
  fill: none;
}


.fav-trash-btn, .fav-start-btn {
    border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.fav-title-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.fav-info {
    display: flex;
  gap: 10px;

  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;       
  overflow: hidden;
}