.footer-container {
  padding: 20px 0;
  background-color: #242424;
  color: #F4F4F4;
}

.footer-logo-icon {
  fill: #F4F4F4;
}

.footer-desc {
  text-align: center;
}

.footer-link {
  position: relative;
}

.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}
