.footer-section {
  padding: 40px 20px;
  padding-bottom: 10px;
  background-color: #242424;
  color: #F4F4F4;
}

.footer-logo-icon {
  fill: #F4F4F4;
}

.footer-list {
  display: flex;
  gap: 12px;
}

.footer-icon-media {
  fill: #F4F4F4;
  display: flex;
  align-items: center;
}

.li {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-radius: 10px;
}

.footer-first-half-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.sm-list {
  margin-bottom: 40px;
}

.footer-text {
  /* Box model */
  margin-bottom: 20px;
  width: 335px;

  /* Typography */
  color: #F4F4F4;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-size: 38px;

  /* line-height: 44px; */ 
  line-height: 44px;
  letter-spacing: -0.02em;
}

.footer-text-accent {
  font-size: 38px;
  font-style: italic;
  letter-spacing: -0.02em;
  line-height: 44px;
}

.footer-form-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}

.subs-form {
  width: 295px;
  display: block;
}

.subs-input {
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  padding: 12px 14px;
  background-color: transparent;
  width: 100%;
  margin-bottom: 12px;
}

.subs-input::placeholder {
  color: rgba(246, 246, 246, 0.6);
  font-size: 14px;
  line-height: 1.28;
}

.footer-form-btn {
  /* Box model */
  width: 100%;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;

  /* Visual */
  border: none;
  border-radius: 30px;
  background: #F4F4F4;
  color: #242424;
  font-size: 14px;
  line-height: 1.28;
}

.copywrite-text,
.pp-wrapper {
  color: #F4F4F4;
  font-size: 12px;
  line-height: 0.83;
  letter-spacing: -0.02em;
  opacity: 0.9;
}

.copywrite-text {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

  .footer-main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 48px;
  }

  .footer-logo {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .footer-text {
    width: 434px;
    font-size: 54px;
    margin-bottom: 32px;
    line-height: 0.92;
  }

  .footer-text-accent {
    font-size: 54px;
  }

  .footer-form-text {
    font-size: 18px;
    line-height: 1.3;
  }

  .footer-form-btn {
    font-size: 16px;
  }

  .copywrite-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    gap: 32px;
  }

  .subs-form {
    width: 358px;
  }

  .copywrite-text,
  .pp-wrapper {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1440px) {

  .footer-first-half-wrapper {
    margin-right: 156px;
  }

  .footer-second-half-wrapper {
    display: flex;
    flex-direction: row;
    gap: 155px;
  }

  .footer-main-wrapper {
    justify-content: flex-start;
    padding: 66px 48px;
  }

  .form-container {
    width: 360px;
  }
  .footer-text {
    width: 488px;
    font-size: 64px;
    line-height: 0.92;
  }

  .footer-text-accent {
    font-size: 64px;
  }
  .subs-form {
    width: 360px;
  }
  .copywrite-wrapper {
    font-size: 14px;
  }
}

