.header {
  padding: 20px 0;
}

.header-nav {
  display: none;
}

.header-list {
  display: none;
}

.burger-button {
  background: transparent;
  border: none;
}

.nav-logo-icon {
  fill: #242424;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  }

  .header-list {
    display: flex;
    gap: 12px;
  }

  .burger-button {
    display: none;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 4px; 
    padding: 4px; 
    width: auto;  
    border-radius: 60px;
    background: #242424;
  }

  .header-nav-link {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F4F4F4;
    font-size: 14px;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .header-nav-link-active {
    background-color: #F4F4F4;
    color: #242424;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}


.li-header {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 10px;
}

.icon-media {
  fill: #242424;
  display: flex;
  align-items: center;
}


