.hero {
  display: grid;
  grid-template-areas:
    'title'
    'description'
    'hero-main-image'
    'tags';
  padding: 0 20px;
  gap: 20px;
  max-width: 1440px;
}

.hero-title {
  grid-area: title;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 1;
  margin: 0;
  max-width: 639px;
}

.hero-title svg {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.hero-description {
  grid-area: description;
  align-self: end;
  font-size: 14px;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin: 0;
}

.hero-main-image {
  grid-area: hero-main-image;
  position: relative;
  width: 100%;
  height: 460px;
  border-radius: 30px;
  overflow: hidden;
}

.hero-main-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

.hero-secondary-image {
  display: none;
}

.tags-container {
  grid-area: tags;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.tag {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  border: 1px solid #242424;
  border-radius: 30px;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0 32px;
  }

  .hero-title {
    font-size: 74px;
    gap: 16px;
  }

  .hero-title svg {
    width: 59px;
    height: 59px;
  }

  .hero-description {
    font-size: 18px;
    line-height: 1.33;
    width: 528px;
  }

  .hero-main-image {
    height: 550px;
    border-radius: 60px;
  }

  .hero-main-image img {
    border-radius: 60px;
  }

  .tags-container {
    justify-content: flex-end;
  }

  .tag {
    font-size: 16px;
    line-height: 1.5;
    padding: 4px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    grid-template-areas:
      'title hero-secondary-image'
      'description tags'
      'hero-main-image hero-main-image';
    grid-template-columns: 2fr 1fr;
    column-gap: 32px;
    padding: 0 32px;
  }

  .hero-main-image {
    height: 350px;
    margin-bottom: 0;
  }

  .hero-main-image img {
    border-radius: 60px;
    object-position: 50% 20%;
  }

  .tags-container {
    width: auto;
    justify-content: flex-end;
    align-self: start;
  }

  .hero-secondary-image {
    grid-area: hero-secondary-image;
    display: block;
    width: 168px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
    justify-self: end;
    align-self: center;
  }

  .hero-secondary-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
