.hero {
  display: grid;
  grid-template-areas:
    'title'
    'description'
    'hero-main-image'
    'tags';
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }
  @media screen and (min-width: 1440px) {
    grid-template-areas:
      'title hero-secondary-image'
      'description tags'
      'hero-main-image hero-main-image';
    grid-template-columns: 1fr auto;
  }
}
.hero-title {
  grid-area: title;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 1;
  margin: 0;
  max-width: 639px;

  @media screen and (min-width: 768px) {
    font-size: 74px;
    gap: 16px;
  }
  svg {
    width: 38px;
    height: 38px;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
      width: 59px;
      height: 59px;
    }
  }
}

.hero-description {
  grid-area: description;
  align-self: end;
  font-size: 14px;
  font-style: normal;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  margin: 20px 0 0 0;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
    width: 528px;
  }
}
.hero-main-image {
  grid-area: hero-main-image;
  position: relative;
  width: 100%;
  height: 460px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    height: 550px;
    border-radius: 60px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1440px) {
    height: 350px;
    margin-bottom: 0;
  }

  img {
    position: absolute;
    top: -14px;
    left: -187px;
    max-width: none;
    width: 765px;
    height: 509px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
      width: 1160px;
      height: 773px;
      top: -38px;
      left: -205px;
    }
    @media screen and (min-width: 1440px) {
      width: 1394px;
      height: 929px;
      top: -153px;
      left: -9px;
    }
  }
}
.hero-secondary-image {
  display: block;
  font-size: 16px; /* alt */
  width: 168px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  align-self: end;
  justify-self: end;
  margin-bottom: 32px;

  @media screen and (max-width: 1439px) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.tags-container {
  grid-area: tags;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
  @media screen and (min-width: 1440px) {
    width: 197px;
    flex-wrap: wrap;
    row-gap: 8px;
  }

  .tag {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.02em;
    border: 1px solid #242424;
    border-radius: 30px;

    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
      padding: 4px 16px;
    }
  }
}