.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  transform: translate(100%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  background-color: #242424;
  color: #f4f4f4;
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 20px;
  position: relative;
}

.mobile-menu.is-open {
  transform: translate(0);
}

.menu-close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
}

.mobile-menu-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-close-button {
  background-color: transparent;
  border: initial;
}

.mobile-close-icon {
  stroke: #f4f4f4;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
}

.mobile-footer {
  display: flex;
  justify-content: center;
  gap: 12px;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
