.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  transform: translate(100%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
  background-color: #242424;
  color: #f4f4f4;
}

.mobile-menu-wrapper {
  /* width: 100%;
  height: 100%; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 48px;

  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu.is-open {
  transform: translate(0);
}

.mobile-menu-top {
  /* display: flex;
  justify-content: space-between; */
}

.menu-close-btn {
    background-color: transparent;
    border: none;
}

.mobile-menu-close-button {
  background-color: transparent;
  border: initial;
}

.mobile-close-icon {
  stroke: #f4f4f4;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
}

@media screen and (min-width: 768px) {
    display: none;
  }