.is-hidden {
  display: none !important;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s;
}

.modal-close-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal-close-icon {
  stroke: #f4f4f4;
}

.modal-content {
  background: #242424;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 335px;
  width: 90%;
  position: relative;
}

.modal-exercise-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.modal-gif {
  width: 270px;
  height: 260px;
  border-radius: 12px;
  object-fit: cover;
}

.modal-stats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-description {
  color: rgba(244, 244, 244, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.modal-stat-item span {
  font-size: 12px;
  display: block;
  font-weight: 400;
  line-height: 18px;
  color: rgba(244, 244, 244, 0.4);
}

.star.filled {
  color: #eea10c;
}
.star {
  color: rgba(255, 255, 255, 0.2);
}

.modal-btns {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.btn-favorite {
  background: #f4f4f4;
  color: #1b1b1b;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.btn-rating {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 24px;
  border-radius: 30px;
}

.no-scroll {
  overflow: hidden;
}

.modal-heart {
  fill: none;
  stroke: #242424;
}

.rating-modal {
  width: 335px;
}

/* ---------------------------- Rating styles ---------------------------- */

.star-input {
  font-size: 24px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.2);
  transition: color 0.2s;
}

.star-input.active,
.star-input:hover {
  color: #eea10c;
}

.rating-value-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.rating-input,
.rating-textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(244, 244, 244, 0.3);
  border-radius: 30px;
  padding: 12px 18px;
  color: #fff;
  margin-bottom: 15px;
}

.rating-textarea {
  border-radius: 15px;
  height: 100px;
  resize: none;
}

.rating-send-btn {
  width: 100%;
  padding: 12px;
  background: #f4f4f4;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .modal-exercise-card {
    flex-direction: row;
    align-items: flex-start;
  }

  .modal-content {
    width: 704px;
    padding: 40px;
  }

    .rating-modal {
    width: 430px;
  }
}
